/*
 * Casablanca grid layout
 * Dino Civovic (C) 2017
 */
.mid{
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }
}
.work-nav{
  @include media-breakpoint-up(xs){
    display: flex;
    flex-direction: column;
  }
  @include  media-breakpoint-up(md){
    flex-direction: row;
  }
  li{
    margin: .5em 0;
    @include media-breakpoint-up(xs){
      flex: 1;
    }
    @include media-breakpoint-up(md) {
      flex: 1;
    }
  }
}
.work-img{
  @include make-row();
  li{
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }
}
.client-img{
  @include media-breakpoint-up(xs){
    @include make-row();
  }
  @include media-breakpoint-up(lg){
    display: flex;
  }
  li{
    margin-top: 2em;
    padding: .5em;
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    @include media-breakpoint-up(lg) {
      flex: 1;
      padding: 0;
    }
  }
}
.staff-img{
  @include make-row();
  li{
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(md) {
      @include make-col(3);
    }
  }
}
