/*
 * Casablanca core styles
 * Dino Civovic (C) 2017
 */

hr{
  width: 5em;
  border: 1.5px solid black;
}
li{
  display: block;
}
.mid{
  padding: 0;
}
.w{
  margin-top: 5em;
  margin-bottom: 5em;
}
h1{
  font-family: "Big-John", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 3em;
}
h2{
  font-family: "Big-John", sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 1.875em;
}
h3{
  font-family: "Amble-Regular", sans-serif;
  font-size: 1.375em;
  color: #000;
}
p{
  font-family: "Amble-Light", sans-serif;
  font-size: 1.375em;
  color: #000;
  //font-weight: 200; not readable
}

