/*
 * Casablanca fonts styles
 * Dino Civovic (C) 2017
 */
@font-face {
  font-family: "Big-John";
  src: url("../vendor/Big-John-Slim-Joe/BIG-JOHN.otf");
}
@font-face {
  font-family: "Slim-Joe";
  src: url("../vendor/Big-John-Slim-Joe/Slim-Joe.otf");
}

@font-face {
  font-family: "Amble-Light";
  src: url("../vendor/amble/Amble-Light.ttf");
}
@font-face {
  font-family: "Amble-Regular";
  src: url("../vendor/amble/Amble-Regular.ttf");
}

@font-face {
  font-family: "Amble-Bold";
  src: url("../vendor/amble/Amble-Bold.ttf");
}
