/*
 * Casablanca Block 2 style
 * Dino Civovic (C) 2017
 */
.l-introduction{
  display: flex;
  flex-direction: column;
  .mid{
    padding: 0;
  }
  .w{
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
