/*
 * Casablanca Block 9 style
 * Dino Civovic (C) 2017
 */
.slider-img{
  margin-top: 4em;
  div{
    display: flex;
    text-align: center;
  }
}
.s-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .img{
    height: 150px;
  }
  img{
    margin: auto auto 2em auto;
  }
  div{
    display: flex;
    flex-direction: column;
    h3,
    p{
      margin-top: 1em;
    }
    p{
      font-size: 1em;
    }
  }
}
@include media-breakpoint-down(sm){
  .slider-img,
  .bx-wrapper{
    display: none;
  }
}
