/*
 * Casablanca Block 4 style
 * Dino Civovic (C) 2017
 */

.l-our-work{
  display: flex;
  li{
    button{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0px;
      font-family: "Big-John",sans-serif;
      background: transparent;
      color: black;
      font-size: 1em;
      padding: .3em .8em;
      border: none;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;

      outline: none;
    }
    button:hover {
      color: #f2df8c;
      transition: all 0.8s ease;
      text-decoration: none;
    }
  }
  .work-img,
  .work-box,
  .work-nav{
    padding: 0;
  }
  .work-img{
    li{
      padding: 5px;
    }
  }
  .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family:  "Amble-Bold", sans-serif;
    background: transparent;
    color: black;
    font-size: 1.875em;
    padding: .3em .8em;
    border: solid black 2px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2.5em;
    transition: all .8s ease;
  }
  .btn:hover {
    background: #f2df8c;
    transition: all 0.8s ease;
    text-decoration: none;
  }
  .iso-img{
    width: 100%;
  }
}
