/*
 * Casablanca Block 1 style
 * Dino Civovic (C) 2017
 */
header{
  margin: 0;
  padding: 0;
}
.l-hero{
  p{
    color: white;
  }
  hr{
    border: 1.5px solid white;
  }
  margin: 0;
  padding: 0;
  width: 100%;
  background-image:url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.mid{
  margin: 3em auto auto auto;
  @include media-breakpoint-up(md){
    margin: auto;
  }
}
.wrapper {
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md){
    width: 80%;
  }
}
.text-box{
  margin: auto;
  width: 100%;
  text-align: center;
  @include media-breakpoint-up(md){
    width: 80%;
  }
}
.scroll{
  margin:15em auto 0 auto;
  align-self: flex-end;
  @include media-breakpoint-down(sm){
    display: none;
  }
}
