/*
 * Casablanca Block 5 style
 * Dino Civovic (C) 2017
 */

.l-btn2{
  background-image:url("../images/here.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  display: flex;
  div{
    margin: auto;
  }
  .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: "Amble-Bold", sans-serif;
    background: transparent;
    color: #ffffff;
    font-size: 1.875em;
    padding: .5em 1em;
    @include media-breakpoint-down(sm){
      padding: 0.5em;
    }
    border: solid #ffffff 2px;
    text-decoration: none;
    cursor: pointer;
    transition: all .8s ease;
  }
  .btn:hover {
    background: #f2df8c;
    transition: all 0.8s ease;
    text-decoration: none;
  }
}