/*
 * Casablanca Block 6 style
 * Dino Civovic (C) 2017
 */

.l-client{
  background-color: lightgray;
  padding: 5em 0;
  .gray{
    filter: grayscale(100%);
  }
  .gray:hover{
    filter: none;
  }
}
