/*
 * Casablanca Block 7 style
 * Dino Civovic (C) 2017
 */
.l-about{
  .pic{
    width: 100%;
  }
  .mid,
  .staff-img{
    padding: 0;
  }
  li{
    padding: .5em;
  }
  .pic{
    position: relative;
    overflow: hidden;
  }
  .box{
    padding: 7px;
    position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
  }
  .box-w{
    margin-top: 50%;
  }
  .border-w{
    border: 2px solid black;
    height: 100%;
  }
  .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family:  "Amble-Bold", sans-serif;
    background: transparent;
    color: black;
    font-size: 1.375em;
    padding: .3em .8em;
    border: solid black 2px;
    text-decoration: none;
    cursor: pointer;
    transition: all .8s ease;
  }
  .btn:hover {
    background: #f2df8c;
    transition: all 0.8s ease;
    text-decoration: none;
  }
  .gray{
    filter: grayscale(80%);
  }
  .gray:hover{
    filter: grayscale(200%);
  }
  .staff-box{
    margin: 0;
    position: relative;
    overflow: hidden;
    .text-box{
      position: absolute;
      top:0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: rgba(60, 58, 58, 0.9);
      transition: .8s;
      div{
        margin-top: 85%;
      }
    }
  }
  .staff-box:hover{
    border:4px solid black;
    transition: .5s;
    .text-box{
      left: 0;
    }
  }
}

