/*
 * Casablanca Block 7 style
 * Dino Civovic (C) 2017
 */
.l-video{
  width: 100%;
  background-color: black;
}
.video{
  width: 100%;
  max-height: 500px;
  @include media-breakpoint-down(sm){
    height: 500px;
  }
}
