/*
 * Casablanca Block 12 style
 * Dino Civovic (C) 2017
 */

.l-info{
  display: flex;
  width: 100%;
  @include media-breakpoint-down(sm){
    flex-direction: column;
  }
}
.location{
  text-align: center;
  padding: 5em 0;
  flex: 1;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .socila{
    display: flex;
  }
}
.form{
  background-color: #6c757d;
  flex: 2;
  @include media-breakpoint-down(sm){
    flex:1;
  }
  padding: 5em 0;
}
.f-name{
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  @include media-breakpoint-down(sm){
    flex-direction: column;
  }
  .ime{
    flex: 1;
    @include media-breakpoint-up(md){
      margin-right: 1em;
    }
  }
  .mail{
    flex: 1;
    @include media-breakpoint-up(md){
      margin-left: 1em;
    }
  }
  input{
    width: 100%;
    border: none;
    background-color: #6c757d;
    border-bottom: 2px solid black;
    margin: 10px;
    outline: none;
  }
}
.f-msg{
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0 2em;
  display: flex;
  .poruka{
    flex: 1;
  }
  input{
    width: 100%;
    border: none;
    background-color: #6c757d;
    border-bottom: 2px solid black;
    margin: 10px;
    outline: none;
    }
  }
  .f-smallbtn {
    display: flex;
    margin-right: 42px;
    justify-content: flex-end;
    input{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0px;
      font-family: "Amble-Bold", sans-serif;
      background: transparent;
      color: #ffffff;
      font-size: 1.375em;
      padding: .5em 1em;
      border: solid #ffffff 2px;
      text-decoration: none;
      cursor: pointer;
      transition: all .8s ease;
      outline: none;
    }
    input:hover{
      background: #f2df8c;
      transition: all 0.8s ease;
      text-decoration: none;
    }
}
