/*
 * Casablanca Block 13 style
 * Dino Civovic (C) 2017
 */
.footer-wrap{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: 5em;
  box-sizing: border-box;
  .person{
    img{
      width: 100%;
    }
  }
  .copy{
    margin: 3em auto 0 auto;
    text-align: center;
    p{
      color: #4b4c4e;
    }
    span{
      color: orange;
    }
  }
  .srednji{
    margin: auto;
  }
}
