/*
 * Casablanca Navigation block style
 * Dino Civovic (C) 2017
 */

.navbar{
  position: absolute;
  overflow: hidden;
  height: 63px;
}
.navbar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover{
  background-color: #ddd;
  color: #000;
}
.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;
}
.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: .3s;
}
.side-nav a:hover{
  color: #fff;
}
.side-nav .btn-close{
  position: absolute;
  top:0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}
#main-content{
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%;
}